@charset "UTF-8";

/*背景*/
body {
	padding: 20px;
}

.bus {
	text-align: center;
}

header>.m-tl>.m-tab>span {
	background: #006699;
	color: #fff;
	padding: 0px 10px 12px;
	border-radius: 3px 3px 0 0;
	display: block;
	text-align: center;
	font-size: 13px;
}

header>.m-tl>.m-tip>span {
	background: #ff6600;
	color: #fff;
	padding: 3px 6px;
	border-radius: 3px;
	text-align: center;
	font-size: 15px;
	margin-bottom: 2px;
}

header>.m-tl>.m-fun {
	color: #666;
	padding: 2px 0px;
	border-radius: 3px;
	text-align: center;
	font-size: 10px;
	margin-bottom: 2px;
	border: 1px solid #ccc;
	margin-left: 38px;
	color: blue;
}

section>.n-line>.n-tim>span {
	font-size: 15px;
	font-weight: bold;
	color: red;
	padding-left: 10px;
	padding-right: 16px;
}

section>.n-line>.n-tim>span2 {
	font-size: 12px;
	font-weight: bold;
	color: red;
}

section>.n-line>.n-inf>span {
	font-size: 12px;
	padding-left: 10px;
}

section>.n-line>.n-inf>span1 {
	font-size: 12px;
	color: red;
	font-weight: 1000;
	padding-left: 0px;
}

section>.n-line>.n-inf>span2 {
	font-size: 12px;
	padding-left: 10px;
	font-weight: 1000;
}

section>.n-line>.n-inf>span3 {
	font-size: 12px;
	padding-left: 10px;
	color: red;
	font-weight: 1000;
}

section>.n-line>.n-inf>span4 {
	font-size: 12px;
	padding-left: 36px;
}

section>.c-line>.c-fon {
	font-size: 12px;
	color: blue;
	text-align: center;
	padding-left: 500px;
	text-decoration: underline;
}

section>.k-line>.k-rec1>span {
	background-color: #00bfff;
	padding-left: 187px;
	padding-right: 196px;
	font-size: 13px;
	color: blue;
}

section>.k-line>.k-rec2>span {
	background-color: #00bfff;
	margin-left: -30px;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 13px;
	color: blue;
}

section>.k-line>.k-rec3>span {
	background-color: #00bfff;
	margin-left: -45px;
	padding-right: 21px;
	padding-left: 21px;
	font-size: 13px;
	color: blue;
}

section>.k-line>.k-rec4>span {
	background-color: #00bfff;
	margin-left: -56px;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 13px;
	color: blue;
}

section>.k-line>.k-rec5>span {
	background-color: #00bfff;
	margin-left: -54px;
	padding-right: 13px;
	padding-left: 15px;
	font-size: 13px;
	color: blue;
}

section>.d-line {
	margin-bottom: -11px;
}

section>.d-line>.d-til {
	background-color: #f5f5f5;
}

section>.d-line>.d-til>.d-pos {
	padding-left: 120px;
	font-size: 17px;
	font-weight: 1000;
	color: black;
}

section>.d-line>.d-til>.d-exe {
	padding-left: 78px;
	font-size: 12px;
	font-weight: 1000;
	color: blue;
	text-decoration: underline;
	text-align: center;
}

section>.d-line>.d-inf {
	border: 1px solid #ccc;
	border-right: 3px solid blue;
	text-align: center;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 3px;
}

section>.d-line>.d-inf>span {
	padding-right: 7px;
}

section>.d-line>.d-pla {
	border: 1px solid #ccc;
	border-left: 3px solid blue;
	text-align: center;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -1px;
}

section>.d-line>.d-pla>span {
	padding-left: 63px;
	text-decoration: underline;
	color: blue;
}

section>.d-line>.d-rec>span {
	font-size: 12px;
	font-weight: bolder;
	text-align: center;
}

section>.d-line>.d-rec {
	border: 1px solid #ccc;
	padding-top: 15px;
	text-align: center;
	height: 30px;
	margin-right: -1px;
}

section>.d-line>.d-rec2 {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	height: 30px;
	padding-top: 15px;
}

section>.p-line>.p-til {
	background-color: #f5f5f5;
}

section>.p-line>.p-til>.p-pos {
	font-size: 17px;
	font-weight: 1000;
	color: black;
	padding-top: 8px;
}

section>.p-line>.p-til>.p-pos>p {
	font-size: 8px;
	padding-left: 8px;
	font-weight: bold;
	padding-top: 10px;
}

section>.p-line>.p-til>.p-exe {
	padding-left: 22px;
	padding-top: 5px;
	color: blue;
	text-decoration: underline;
}

section>.p-line>.p-til>.p-exe>span1 {
	padding-left: 8px;
}

section>.p-line>.p-til {
	border: 1px solid #ccc;
}

section>.p-line>.p-inf {
	border: 1px solid #ccc;
	border-right: 3px solid blue;
	text-align: center;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 3px;
}

section>.p-line>.p-pla {
	border: 1px solid #ccc;
	border-left: 3px solid blue;
	text-align: center;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -1px;
	color: blue;
	text-decoration: underline;
}

section>.p-line>.p-til>.p-fot {
	font-size: 8px;
	padding-left: 91px;
	font-weight: bold;
	padding-top: 10px;
}

section>.p-line>.p-pla>.p-fir {
	border-radius: 2px;
	background-color: blue;
	font-size: 10px;
	margin-left: 84px;
	color: white;
	width: 80px;
}

section>.p-line>.p-rec>span {
	font-size: 12px;
	font-weight: bolder;
	padding-left: 10px;
	padding-top: 10px;
}

section>.p-line>.p-rec {
	border: 1px solid #ccc;
	padding-top: 15px;
	height: 30px;
	margin-right: -1px;
}

section>.p-line>.p-rec>.p-fon {
	padding-left: 11px;
	margin-top: -8px;
	font-size: 12px;
	font-weight: bolder;
}

section>.p-line>.p-rec>.p-fon>span {
	padding-left: 5px;
}

section>.p-line>.p-rec2 {
	text-align: center;
	height: 30px;
	padding-top: 15px;
	padding-left: 10px;
}

section>.p-line {
	margin-bottom: -11px;
}

section>.h-line {
	background-color: #f5f5f5;
}

section>.h-line>.h-fon1 {
	padding-left: 124px;
	font-size: 17px;
	font-weight: bolder;
	padding-top: 4px;
}

section>.h-line>.h-fon2 {
	font-size: 8px;
	padding-left: 8px;
	font-weight: bold;
	padding-top: 10px;
}

section>.h-line>.h-fon3 {
	text-decoration: underline;
	color: blue;
	padding-left: 26px;
}

section>.h-line>.h-fon3>span {
	padding-left: 17px;
}

.m-tip.ui-grid-12 {
	height: 19px;
	margin-bottom: 0px;
}

.m-fun.ui-grid-2 {
	height: 23px;
	margin-bottom: 0px;
}

.m-tl.ui-grid-row {
	border-bottom: 5px solid #006699;
	width: 680px;
}

.n-line.ui-grid-row {
	width: 678px;
	border: 1px solid #ccc;
}

.m-tl>.ui-grid-2, .m-tl>.ui-grid-13 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.c-fon.ui-grid-3 {
	width: 80px;
}

.c-line.ui-grid-row {
	background-color: #fffacd;
	width: 678px;
	border: 1px solid #ccc;
}

.k-line.ui-grid-row {
	margin-bottom: -12px;
}

.d-til.ui-grid-row {
	width: 678px;
	border: 1px solid #ccc;
	color: grey;
	height: 50px;
}

.d-inf.ui-grid-4 {
	width: 100px;
}

.d-pla.ui-grid-8 {
	width: 296px;
}

.h-line.ui-grid-row {
	width: 678px;
	border: 1px solid #ccc;
}

.p-til.ui-grid-row {
	width: 678px;
}

.p-inf.ui-grid-4 {
	width: 100px;
}

.p-pla.ui-grid-8 {
	width: 296px;
}
